* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Element */

label {
  display: flex;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  width: 100%;
  max-width: inherit;
}

main {
  width: 100vw;
}

section {
  width: 80%;
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
}

/* Class */

.header-nav {
  text-decoration: none;
}

.main-section__article {
  width: calc(50% - 20px);
}

.header-nav__item:hover {
  color: brown;
}

.header-nav__item:active {
  color: chartreuse;
}

.header-nav__item::after {
  content: " | ";
}

.main-form {
  display: flex;
  flex-direction: column;
}

.footer-a::after {
  content: " | ";
}

/* ID */
