* {
  /*box-sizing: border-box;*/
  /*padding: 0;
  margin: 0;*/
}

/* Element */

a {
  text-decoration: none;
}

footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*main {
  padding-left: 25px;
  padding-right: 25px;
}*/

img {
  width: 100%;
}

/* Class */

.header-nav {
  text-decoration: none;
}

.main-section__article {
  width: calc(50% - 20px);
}

.header-nav__item:hover {
  color: brown;
}

.header-nav__item:active {
  color: chartreuse;
}

.header-nav__item::after {
  content: " | ";
}

.main-form {
  display: flex;
  flex-direction: column;
}

.footer-a::after {
  content: " | ";
}

/* ID */
